{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h3>{{query[2]}}</h3>
<p>Id: {{query[0]}}</p>
<p>Ticker: {{query[1]}}</p>
<p>Scrape type: {{query[3]}}</p>
<p>url: <a target="_blank" href="{{query[4]}}">{{query[4]}}</a></p>
<p>Currency: {{query[5]}}</p>
<p>Downloas: {{query[6]}}</p>
<p>Family: {{query[7]}}</p>
<button type="button" class="btn btn-primary">Add VL</button>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}